@import url("https://use.typekit.net/ahb3dat.css");
@import url("https://rsms.me/inter/inter.css");

body,
html {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 3%);
}

/* font-family: beastly,sans-serif;
font-weight: 300;
font-style: normal; 

font-family: ibm-plex-mono,sans-serif;
font-weight: 300;
font-style: normal;


*/

p {
  font-size: 16px;
  line-height: 1.45;
}

a {
  color: hsl(0, 0%, 100%);
  /* text-decoration: none;
  display: inline-block;
  border-bottom: 0.25px solid; */
}

/* Annimation */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.marginals {
  padding: 1em;
}

header {
  padding: 1em;
  position: fixed;
}

header h1 {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 700;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  gap: 1em;
}

.intro h2 {
  color: #fff;
  font-family: beastly, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(72px, 15vw, 161px);
  line-height: 0.9;
}

.intro h3 {
  max-width: 750px;
  color: hsl(0, 0%, 50%);
  font-size: 1.6187em;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -1px;
}

@media (max-width: 450px) {
  .intro h3 {
    font-size: 1em;
    line-height: 1.45;
  }
}

.mono {
  font-family: ibm-plex-mono, sans-serif;
}
