@import url("https://use.typekit.net/ahb3dat.css");
@import url("https://rsms.me/inter/inter.css");

body,
html {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.45;

  color: hsl(0, 0%, 60%);
  background-color: hsl(0, 0%, 3%);

  margin: 0;
}

/* font-family: beastly,sans-serif;
font-weight: 300;
font-style: normal; 

font-family: ibm-plex-mono,sans-serif;
font-weight: 300;
font-style: normal;

  font-family: "Inter", sans-serif;

*/

/* Hyperlinks */

a {
  color: hsl(0, 0%, 60%);
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.25px solid hsl(0, 0%, 40%);
}

a:hover {
  color: hsl(0, 0%, 90%);
}

/* Annimation */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

/* Utilities */

.appear {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.marginals {
  padding: 1.6187em;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: hsl(0, 0%, 90%);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}

header p {
  font-size: 1em;
}

/* INTRO */

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  gap: 1.6187em;

  border-bottom: 1px solid;
}

.intro h2 {
  color: hsl(0, 0%, 90%);
  font-family: beastly, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(72px, 15vw, 161px);
  line-height: 0.9;
}

.intro h3 {
  max-width: 600px;
  color: hsl(0, 0%, 70%);
  font-weight: 300;
  font-size: 1.6187em;
  line-height: 1.35;
  font-weight: 500;
  /* letter-spacing: -1px; */
}

.intro p {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 500;
}

@media (max-width: 450px) {
  .intro h3 {
    font-size: 1em;
    line-height: 1.45;
  }
}
